.product-detail {
  width: 360px;
  top: 68px;
  height: calc(100vh - 68px); /* Esto se hace para quitar el alto del navbar el vh es el alto de la venta */
}

/* 
Otra forma de hacerlo por medio de clases en TailWind
<aside className="flex flex-col fixed right-0 border bg-white border-black rounded-lg w-[360px] h-[calc(100vh-80px)]>" */